.card-container{
    /* background-color: rgba(255, 0, 0, .3); */
    background-color: rgba(255, 199, 199, 0.9);
    /* border: 2px solid rgba(255, 0, 0, .5); */
    border: 2px solid red;
    border-radius: 15px;
    min-height: 5rem;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    /* display: inherit; */
    display: flex;
    vertical-align: middle;
    flex-direction: column;

    transition: transform 1s ease-in-out;
}
.card-valida{
    background-color: rgba(174, 243, 174, 0.9);
    border: 2px solid rgb(0, 173, 0);
    animation: card-valida 1s ease-out;
}

@keyframes card-valida {
    0% {
        /* transform: translate(-50px, 0); */
        background-color: rgba(255, 199, 199, 0.9);
    }
    100% {
        /* transform: translate(0, 0); */
        border: 2px solid rgb(0, 173, 0);
        background-color: rgba(174, 243, 174, 0.9);
    }
}

.card-index{
    text-align: start;
}

.card-img{
    padding: 1rem;
}

.card-img-8{
    object-fit: cover;
    filter: grayscale(1);
}