.card-container{
    /* background-color: rgba(255, 0, 0, .3); */
    background-color: rgba(255, 199, 199, 0.9);
    /* border: 2px solid rgba(255, 0, 0, .5); */
    border: 2px solid red;
    border-radius: 15px;
    min-height: 5rem;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    /* display: inherit; */
    display: flex;
    vertical-align: middle;
    flex-direction: column;

    transition: transform 1s ease-in-out;
}
.card-valida{
    background-color: rgba(174, 243, 174, 0.9) !important;
    border: 2px solid rgb(0, 173, 0);
    animation: card-valida 1s ease-out forwards;
    animation-delay: .5s;
}

@keyframes card-valida {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.card-index{
    text-align: start;
}