:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #81CC61;
  background-color: #598438;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23598438' width='11' height='11'/%3E%3Crect fill='%235c8539' x='10' width='11' height='11'/%3E%3Crect fill='%235f873a' y='10' width='11' height='11'/%3E%3Crect fill='%2361883a' x='20' width='11' height='11'/%3E%3Crect fill='%23648a3b' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23678b3c' y='20' width='11' height='11'/%3E%3Crect fill='%236a8c3d' x='30' width='11' height='11'/%3E%3Crect fill='%236c8e3e' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%236f8f3f' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23729140' y='30' width='11' height='11'/%3E%3Crect fill='%23759240' x='40' width='11' height='11'/%3E%3Crect fill='%23789341' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%237a9542' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%237d9643' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23809844' y='40' width='11' height='11'/%3E%3Crect fill='%23839945' x='50' width='11' height='11'/%3E%3Crect fill='%23859a46' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23889c47' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%238b9d48' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%238e9f49' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2390a04b' y='50' width='11' height='11'/%3E%3Crect fill='%2393a14c' x='60' width='11' height='11'/%3E%3Crect fill='%2396a34d' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2399a44e' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%239ca54f' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%239ea750' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23a1a851' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23a4aa53' x='70' width='11' height='11'/%3E%3Crect fill='%23a7ab54' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23aaac55' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23acae56' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23afaf58' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23b2b059' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23b5b25a' x='80' width='11' height='11'/%3E%3Crect fill='%23b8b35c' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23bbb45d' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23bdb65e' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23c0b760' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23c3b961' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23c6ba63' x='90' width='11' height='11'/%3E%3Crect fill='%23c9bb64' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ccbd65' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23cebe67' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23d1bf68' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23d4c16a' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23d7c26c' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23dac36d' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ddc56f' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e0c670' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e2c772' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e5c973' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e8ca75' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ebcc77' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23eecd78' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f1ce7a' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f4d07c' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f6d17e' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23f9d27f' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fcd481' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23FFD583' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #242424;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* estándar */
}